################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LINQ/obj
/DesignPattern/obj/
/DesignPattern/bin/
/GeekForGeek/obj/
/GeekForGeek/bin/
/LINQ/obj/
/LINQ/bin/
/ObjectOriented/obj/
/ObjectOriented/bin/
